%estiloCard {
    background-color: $colorHover;
    box-shadow: -1px 2px 27px -6px rgba(0,0,0,0.77);
-webkit-box-shadow: -1px 2px 27px -6px rgba(0,0,0,0.77);
-moz-box-shadow: -1px 2px 27px -6px rgba(0,0,0,0.77);
    background-color: $colorFondo;
    &:hover {
        box-shadow: -1px 2px 32px -6px rgba(0,0,0,0.77);
-webkit-box-shadow: -1px 2px 32px -6px rgba(0,0,0,0.77);
-moz-box-shadow: -1px 2px 32px -6px rgba(0,0,0,0.77);
    }
}

@mixin fontStyle ($colorTitle, $alignText) {
    background-color: $colorLogo;
    padding: 10px;
    margin: 0;
    color: $colorTitle;
    text-align: $alignText;
}

%estiloImagenTitulos {
    padding: 15px;
    text-align: start;
    background-image: url("https://res.cloudinary.com/maxjhernandez/image/upload/v1662510756/Las%20Mar%C3%ADas/nagesh-badu-vYcH7pI6v1Q-unsplash_g76lda.jpg"); /* The image used */
    height: 250px;
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: flex;
    align-items: center;
}

%estiloTitulos {
    display: flex;
    background-color: #766b6ba5;
    padding: 15px 25px 15px 25px;
    margin: 0;
    color: $colorFondo;
}

%estiloTitulosFooter {
    padding: 20px;
    border-bottom: 2px $colorHover solid ;
    color: $colorHover;
    width: fit-content;
}

%estiloFormulario {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: $colorFondo;
    padding: 10px;
    gap: 10px;
    align-content: center;
    justify-content: center;
    border-left: 1px rgba(128, 128, 128, 0.515) solid;
    
}

%estiloBoton {
    background-color: $colorLogo;
                    border-color: rgba(0, 0, 0, 0.689);
                    font-weight: bold;

                    &:hover {
                        background-color: #193724b8;
                    }

                    &:focus {
                        background-color: $colorFondo;
                        color: black;
                        border: 2px black solid;
                        font-weight: bolder;
                        font-size: large;
                    }
}

%estiloSelect {
    &:hover {
        background-color: bisque;
    }
}