.contacto-main {
    background-color: $colorFondo;
    .envie-consulta {
        border-top: 1px #193724 solid;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-consulta {
            display: flex;
            flex-direction: column;
            width: 70%;
            .preguntas {
                display: flex;
                flex-direction: row;
                .input-group {
                width: 50%;
                height: 20px;
                }
                }
            textarea {
                margin-top: 5px;
                margin-bottom: 5px;
                height: 200px;
                &:hover {
                    background-color: bisque;
                .form-control {
                        width: 450px;
                }
                }
            }
            p {
                padding: 5px;
                margin-bottom: 0;
            }
            input {
                padding: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
                &:hover {
                    background-color: bisque;
                }
            }
            .button-search {
                @extend %estiloBoton;
                margin-top: 10px;
            }
          }
      }
  }

  @media (max-width: 750px){
    .contacto-main {
        .contacto-info {
            display: block;
            .iframe-container{
                width: 80%;
            }
        }
    }
}