
main {
    h1 {
        display: none;
    }
    .carousel {
        .carousel-inner {
            .carousel-item {
                .w-100 {
                    max-height: 70vh;
                }
            }
        }
    }

    .form-container {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $colorFondo;

            .form-select {
                width: 45%;
                margin: 5px;
                &:hover {
                    background-color: $colorHover;
                  }
            }

            .d-grid {
                .button-search {
                    margin-top: 13px;

                    &:hover {
                        box-shadow: 2px 2px rgba(0, 0, 0, 0.454);
                    }
                }
                .btn-primary {
                    @extend %estiloBoton;
                }
        }
    }

    h2 {
        @include fontStyle (black, start);
        background-color: aliceblue;
    }
    .propiedades-destacadas {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-auto-columns: 1fr;
            grid-template-areas:
              "casa-uno casa-dos casa-tres casa-cuatro";
            background-color: aliceblue;

            .casa-uno { grid-area: casa-uno; }
            .casa-dos { grid-area: casa-dos; }
            .casa-tres { grid-area: casa-tres; }
            .casa-4 { grid-area: casa-4; }
            .card {
                margin: 15px;
                margin-bottom: 30px;            
                @extend %estiloCard;
                &:hover {
                    transform: translateY(2px);
                }
                .img-container {
                    position: relative;
                    p {
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.363);
                        color: $colorFondo;
                        margin: 0;
                        bottom: 0;
                        padding: 0.5rem;
                        font-size: 1rem;
                    }
                    }
                }
                .card-icon{
                    display: grid;
                    grid-auto-columns: 1fr; 
                    grid-template-columns: 1fr 1fr; 
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: 
                    "icon-uno icon-dos"
                    "icon-tres icon-cuatro";

                    .bedroom { grid-area: icon-uno; }
                    .bathroom { grid-area: icon-dos; }
                    .m2 { grid-area: icon-tres; }
                    .garage { grid-area: icon-cuatro; }

                    .card-utilities {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    padding: 0;
                    }
                }  
                .card-body {
                    height: 60px;
                    a {
                        text-decoration: none;
                        color: $colorTexto;
                        }
                    .icon {
                    width: 25px;
                    margin: 10px;
                    }
                    p {
                    margin: 0;
                    color: black;
                    }
                    h5 {
                        color: black;
                    }
                        
                        
    
                    
            }
        }
    }

@media (max-width: 1100px) {
    main {
        .propiedades-destacadas { 
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-auto-columns: 1fr;
                grid-template-areas:
                "casa-uno casa-dos"
                "casa-tres casa-cuatro";
                justify-items: center;
                .card {
                    width: 70%;
                    
                }
            }  
        }
    }

@media (max-width: 600px) {
    main {
    .propiedades-destacadas {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-auto-flow: row;
            grid-template-areas:
              "casa-uno"
              "casa-dos"
              "casa-tres"
              "casa-cuatro";
            .card {
                width: 60%;
            }
        }
    } 
}

@media (max-width: 500px) {
    main {
    .propiedades-destacadas {
            .card {
                width: 80%;
            }
        }
    } 
}