main {
    .venta-arr-title {
        height: 250px;
        display: flex;
        justify-content: space-between;
        @extend %estiloImagenTitulos;

        h1 {
            @extend %estiloTitulos;
        }
    }

    .venta-arr-main {
        display: flex;
        flex-direction: row;
        .casas-container {
            width: 70%;
            .card {
                @extend %estiloCard;
                margin: 1rem;
                .row {
                    overflow: hidden;
                }
            }
        }
        .form-container-todos {
            @extend %estiloFormulario;
            width: 30%;
            h3 {
                color: white;
                background-color: $colorFondoTitulos;
                width: fit-content;
                padding: 10px;
            }
            .button-search {
                @extend %estiloBoton;
            }
        }
    }
}

@media (max-width: 900px){
    main {
        .venta-arr-main {
            display: flex;
            flex-direction: column-reverse;

            .casas-container {
                display: flex;
                flex-direction: column;
                width: auto;
                align-items: center;
                
            }
            .form-container-todos {
                width: 100%;
                align-items: center;
                select {
                    width: 70%;
                    
                  }
              }
        }
    }
}
@media (max-width: 500px){
    main {
        .search-by {
            display: none;
        }
        .venta-arr-main {
            .casas-container {
                .card {
                    width: 80%;
                }
            }
        }
    }
}